*{
    color: rgb(7, 1, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#cityInput, #cityName, #inputContainer,button{
    margin: 3px;
padding:5px;
text-align:center;
font-size:20px;
font-weight:bold;
}


#weatherContainer{
    position: relative;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 1300px;
    border-radius: 10px;
}

#iconsContainer{
    position: relative;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 1200px;  
      
}

.icons{
    display: inline-bock;
    float: left;
    height: auto;
    width: auto;
    margin: 20px;
    padding: 5px;

    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.1);
    background-color: white;
}

.image{
    height: auto;
    width: auto;
    align-content: center;
}

.imgClass{
    height: 10rem;
    width: 10rem;
}

.weather{
    margin: 5px;
   /*  background-color: rgb(106, 215, 255); */
    border-radius: 1px;
    text-align: center;
    font-weight: bold;
}

.minValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}


.maxValues{
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}