html,
body {
  height: 100%
}

#loginbox{
    border:1px solid grey;
    padding:10px;
    border-radius:6px;
    background: rgb(249,249,249);
    background: linear-gradient(-45deg, rgba(249,249,249,1) 0%, rgba(211,208,242,1) 50%, rgba(225,250,255,1) 100%);
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
}

* {
  box-sizing: border-box;
}

#container {
  padding: 10px;
  display:grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 100px auto 50px;
  height: calc(100vh - 20px);
}

#header {
    background: rgb(255, 239, 120);
    color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 200px;
    text-align: center;
}

#content {
  background: #fff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#content-center {
  grid-column: 2/6;
  padding: 10px;
}


#content-right {
  padding: 10px;
}

#footer {
    background: rgb(255, 239, 120);
    text-align: center;
}


.nav-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding: 10px;
}

.nav-top > a {
    text-decoration:none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    min-height: 20px;
    min-width: 70px;
    border-color: rgb(219, 229, 233);
}

a:hover{
    color: black;
}

#map {
    height: 500px;
}