<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>

<table id="table" style="width:100%">
    <tr>
      <td>Date</td>
      <td>Map</td>
    </tr>
    <tr>
        <td>2023-01-05</td>
        <td></td>
    </tr>
    <tr>
        <td>2023-01-06</td>
        <td></td>
    </tr>
    
  </table>

</body>


<script>
    
</script>