<h1 style = "color: rgb(55, 54, 44); text-align: center; padding-top: 10%;"> Hello ! You are on a website that allow you to plan day trip regarding weather. </h1>
<form style = " text-align: center; padding-top: 10%;"  action="/vis">
    <label for="date-trip">Choose the date:</label>
    <input type="date" id="start-trip" value="2023-01-05" name="trip-start" >
    <input type="submit">
  </form>

 