<div> 
	<div id="map">
		<script src="./js/vis-map.js"></script>
	</div>

	<div id ="trip">
		<div id="date"> 08 December 2022 
		</div>
		
		<div id=" weather">
		
		</div>
			
		<div id="path">

		</div>
	</div>
</div>