<meta http-equiv="Content-Security-Policy" content="default-src 'self' '; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline' 'unsafe-eval';">

<link rel="stylesheet" href="css/style.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='css/stylesheet' type='text/css'>

<link rel= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css"/>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>
<script src= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src= "https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script><style>
.container2 {
  width: 70%;
  margin: 15px auto;
  
}

h2 {
  text-align: center;
  font-family: "Verdana", sans-serif;
  font-size: 30px;
}
#myChart {
  color:rgba(2255,26,104,1);
  

}
</style>

<div>
	<div id="map">
		<script  src="./js/vis-map.js"></script>

	</div>

	<div id="trip">
		<div id="date">
		</div>
		<br>
		<div id=" weather">	
			<p> 
				<div class="container2">
					<script  src="./js/vis-chart.js"></script>
				  </div>
				  <div>
					<canvas style="padding-left: 30px;" height="60"  id="myChart"></canvas>
				  </div>
			</p>
		</div>
		<br>
		<div id="path">
			<div class="timeline-wrapper">
					<div class="timeline-line"></div>
					<div class="timeline-content-item">
						<span class="dot" id="1"></span>
						<span class ="hour">
							<input type="radio" value = "1" id="hour" name="hour" checked>
							<label for="html">8 AM</label></span>
					</div> 

					<div class="timeline-content-item" data-timeline="hour-9">
						<span class="dot" id="2"></span>
						<span class ="hour" >
							<input type="radio" value ="2" id="hour" name="hour">
							<label for="html">9 AM</label></span>
						
					</div>

					<div class="timeline-content-item" data-timeline="hour-10">
						<span class="dot" id="3"></span>
						<span class ="hour">
							<input type="radio" value="3" id="hour" name="hour">
							<label for="html">10 PM</label></span>
						
					</div>

					<div class="timeline-content-item" data-timeline="hour-11">
						<span class="dot" id="4"></span>
						<span class ="hour">
							<input type="radio" value="4" id="hour" name="hour">
							<label for="html">11 AM</label></span> 
						
					</div>

					<div class="timeline-content-item" data-timeline="hour-12">
						<span class="dot" id="5"></span>
						<span class ="hour">
							<input type="radio" value="5" id="hour" name="hour">
							<label for="html">12 PM</label></span>
						
					</div>

					<div class="timeline-content-item" data-timeline="hour-13">
						<span class="dot" id="6"></span>
						<span class ="hour">
							<input type="radio" value="6" id="hour" name="hour">
							<label for="html">1 PM</label></span>
					</div>

					<div class="timeline-content-item" data-timeline="hour-14">
						<span class="dot" id="7"></span>
						<span class ="hour">
							<input type="radio" value="7" id="hour" name="hour">
							<label for="html">2 PM</label></span>

					</div>

					<div class="timeline-content-item" data-timeline="hour-15">
						<span class="dot" id="8"></span>
						<span class ="hour">
							<input type="radio" value = "8" id="hour" name="hour">
							<label for="html">3 PM</label></span>
						
					</div>

					<div class="timeline-content-item" data-timeline="hour-16">
						<span class="dot" id="9"></span>
						<span class ="hour">
							<input type="radio" value ="9" id="hour" name="hour">
							<label for="html">4 PM</label></span>
						
					</div>

					<div class="timeline-content-item" data-timeline="hour-17">
						<span class="dot" id="10"></span>
						<span class ="hour">
							<input type="radio" value="10" id="hour" name="hour">
							<label for="html">5 PM</label></span>
						
					</div>

					<div class="timeline-content-item" data-timeline="hour-21">
						<span class="dot" id="11"></span>
						<span class ="hour">
							<input type="radio" value="11" id="hour" name="hour">
							<label for="html">6 PM</label></span>
						
					</div>

					<div class="timeline-content-item" data-timeline="hour-19">
						<span class="dot" id="12"></span>
						<span class ="hour">
							<input type="radio" value="12" id="hour" name="hour">
							<label for="html">7 PM</label></span>
						
					</div>

					<div class="timeline-content-item" data-timeline="hour-20">
						<span class="dot" id="13"></span>
						<span class ="hour">
							<input type="radio" value="13" id="hour" name="hour">
							<label for="html">8 PM</label>
						
						</span>
						
					</div>

					<div class="timeline-content-item" data-timeline="hour-21">
						<span class="dot" id="14"></span>
						<span class ="hour">
							<input type="radio" value="14" id="hour" name="hour">
							<label for="html">9 PM</label>
						</span>
						
					</div>
			</div>
		</div>
		<br><br><br>
	</div>
	
</div>